h2 {
    color: slategrey;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
button {
    background-color: #fff;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    color: #333;
    cursor: pointer;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    text-transform: uppercase;
    transition: all 0.2s;
}
button:hover {
    background-color: #333;
    color: #fff; //
}
p {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: center;
}