body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

button{
    background: none;
    color: orange;
    border: 2px solid;
    padding_: 1em 2em;
    font-size: 1em;
    transition: all 0.5s ease;

}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);

}